# Docker Network
NETWORK_NAME=dev-net
NETWORK_SUBNET=172.16.20.0/24

# Host Network
BASE_DNS=1.1.1.1
STATIC_IP=192.168.1.23/24
GATEWAY_IP=192.168.1.1

#DNS
DNS_ZONE=dev.local

# Portainer Configs
PORTAINER_CONTAINER_NAME=portainer
PORTAINER_WEB_PORT_HTTPS=9443
PORTAINER_WEB_PORT_HTTP=9000

# CloudBeaver
CLOUDBEAVER_CONTAINER_NAME=database
CLOUDBEAVER_PORT=8978

# Redis Insight 
REDIS_INSIGHT_CONTAINER_NAME=redis
REDIS_INSIGHT_PORT=5540

# Mailpit
MAILPIT_CONTAINER_NAME=mail
MAILPIT_WEB_PORT=8025


# Hoppscotch
# Mapped to 3100 to avoid conflict with Homepage
HOPPSCOTCH_CONTAINER_NAME=hoppscotch
HOPPSCOTCH_PORT=3100

# Nginx Proxy Manager
NPM_CONTAINER_NAME=npm
NPM_WEB_PORT=81
NPM_ADMIN_EMAIL=admin@mail.com
NPM_ADMIN_PASSWORD=changeme
NPM_ADMIN_NAME="Administrator"
NPM_ADMIN_NICKNAME="admin"

# Technitium DNS
TECHNITIUM_CONTAINER_NAME=dns
TECHNITIUM_WEB_PORT=5380

# Homepage
HOMEPAGE_CONTAINER_NAME=home
HOMEPAGE_PORT=3000
